body {
background: #6eddff;
background: linear-gradient(90deg, rgba(110, 221, 255, 1) 0%, rgb(255, 255, 255) 100%);
}



#red {
    
    background-color: #FF0000;
    min-height: 50px;
    min-width: 50px;
    
}
#blue {
    
    background-color: #0000FF;
    min-height: 50px;
    min-width: 50px;
    
}
#yellow {
    
    background-color: #FFEA00;
    min-height: 50px;
    min-width: 50px;
    
}
#purple {
    
    background-color: #5D3FD3;
    min-height: 50px;
    min-width: 50px;
    
}
#orange {
    
    background-color: #FFAC1C;
    min-height: 50px;
    min-width: 50px;
    
}
#green {
    
    background-color: #008000;
    min-height: 50px;
    min-width: 50px;
    
}
#yellowgreen {
    
    background-color: #CCFF00;
    min-height: 50px;
    min-width: 50px;
    
}
#yelloworange {
    
    background-color: #FFBF00;
    min-height: 50px;
    min-width: 50px;
    
}
#redorange {
    
    background-color: #FF5349;
    min-height: 50px;
    min-width: 50px;
    
}
#redviolet {
    
    background-color: #c71585;
    min-height: 50px;
    min-width: 50px;
    
}
#blueviolet {
    
    background-color: #8a2be2 ;
    min-height: 50px;
    min-width: 50px;
    
}
#bluegreen {
    
    background-color: #0CBAA6;
    min-height: 50px;
    min-width: 50px;
    
}
#indigoblue {
    
    background-color: #4C5E87;
    min-height: 50px;
    min-width: 50px;
    
}
#bluegreen {
    
    background-color: #0D98BA;
    min-height: 50px;
    min-width: 50px;
    
}
#aquagreen {
    
    background-color: #00cec8;
    min-height: 50px;
    min-width: 50px;
    
}
#aqua {
    
    background-color: #008080;
    min-height: 50px;
    min-width: 50px;
    
}
#violet {
    
    background-color: #7F00FF;
    min-height: 50px;
    min-width: 50px;
    
}
#redpurple {
    
    background-color: #820747;
    min-height: 50px;
    min-width: 50px;
    
}
#ambergold {
    
    background-color: #FFBE0B;
    min-height: 50px;
    min-width: 50px;
    
}
#blazeorange {
    
    background-color: #FB5607;
    min-height: 50px;
    min-width: 50px;
    
}
#neonpink {
    
    background-color: #FF006E;
    min-height: 50px;
    min-width: 50px;
    
}

#azureblue {
    
    background-color: #3A86FF;
    min-height: 50px;
    min-width: 50px;
    
}
#inkblack {
    
    background-color: #001219;
    min-height: 50px;
    min-width: 50px;
    
}
#darkteal {
    
    background-color: #005F73;
    min-height: 50px;
    min-width: 50px;
    
}
#darkcyan {
    
    background-color: #0A9396;
    min-height: 50px;
    min-width: 50px;
    
}
#pearlaqua {
    
    background-color: #94D2BD;
    min-height: 50px;
    min-width: 50px;
    
}
#vanillacustard {
    
    background-color: #E9D8A6;
    min-height: 50px;
    min-width: 50px;
    
}
#goldenorange {
    
    background-color: #EE9B00;
    min-height: 50px;
    min-width: 50px;
    
}
#burntcaramel {
    
    background-color: #CA6702;
    min-height: 50px;
    min-width: 50px;
    
}
#rustyspice {
    
    background-color: #BB3E03;
    min-height: 50px;
    min-width: 50px;
    
}
#oxidizediron {
    
    background-color: #AE2012;
    min-height: 50px;
    min-width: 50px;
    
}

#brownred {
    
    background-color: #3A86FF;
    min-height: 50px;
    min-width: 50px;
    
}
#pearlbeige {
    
    background-color: #DBD3AD;
    min-height: 50px;
    min-width: 50px;
    
}
#blushrose {
    
    background-color: #E0607E;
    min-height: 50px;
    min-width: 50px;
    
}
#lobsterpink {
    
    background-color: #D36060;
    min-height: 50px;
    min-width: 50px;
    
}
#cinnamonwood {
    
    background-color: #C2714F;
    min-height: 50px;
    min-width: 50px;
    
}

#peachfuzz {
    
    background-color: #F6C5AF;
    min-height: 50px;
    min-width: 50px;
    
}
#YaleBlue {
    
    background-color: #053c5e;
    min-height: 50px;
    min-width: 50px;
    
}
#DeepSpaceBlue {
    
    background-color: #1d3958;
    min-height: 50px;
    min-width: 50px;
    
}
#SpaceIndigo {
    
    background-color: #353652;
    min-height: 50px;
    min-width: 50px;
    
}
#VintageGrape {
    
    background-color: #4c334d;
    min-height: 50px;
    min-width: 50px;
    
}

#MauveShadow {
    
    background-color: #643047;
    min-height: 50px;
    min-width: 50px;
    
}
#WinePlum {
    
    background-color: #7c2e41;
    min-height: 50px;
    min-width: 50px;
    
}
#BurntRose {
    
    background-color: #942b3b;
    min-height: 50px;
    min-width: 50px;
    
}
#BrownRed {
    
    background-color: #ab2836;
    min-height: 50px;
    min-width: 50px;
    
}
#FlagRed {
    
    background-color: #c32530;
    min-height: 50px;
    min-width: 50px;
    
}

#PrimaryScarlet {
    
    background-color: #db222a;
    min-height: 50px;
    min-width: 50px;
    
}